@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
#lob{
    font-size: 24px;
    font-family: 'Lobster', cursive;
    padding-left: 5px;
}
#logo{
    font-size: 28px;
}
/*npx http-server --yes -c-1*/